@import "src/_config.scss";

.editable-text {
  display: inline-block;
  cursor: pointer;
  margin: 12px auto 0 auto;
  min-width: 30px;
  color: white;
}

.editable-text input {
  border-radius: 30px;
  max-width: 50vw;
  border: none;
  text-align: center;
  margin: 120px auto 0 auto;
}


@media only screen and (min-width: 768px) {
  .title.editable-text {
    margin-top: 100px;
    font-size: 40px;
  }
}
