
@import 'src/_config.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cormorant+Garamond:wght@500&family=Lexend+Zetta&display=swap');

html{
    // background-color: #fac000;
    background-color: #17749B;
}


.homepage {
    background: #17749B;
    // background-size: 1500vh;
    // background-position: 0;
    // width: 100%;
    min-height: 1500px;
    
    
}

.par{

  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

}

.par:before {

  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  width: 100%;
  height: 40%;
  // background: linear-gradient(to top, #fac000, transparent);
  background: linear-gradient(to top, #17749B, transparent);
  z-index: 10000;
  
}

.par:after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: #fac000;
  background: #17749B;
  // background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
  
}

.par img {
  position: absolute;
  // top: 5;
  // left: 5;
  width: 100%;
  height: 70%;
  object-fit: cover;
  pointer-events: none;
  

}

.text {
  font-family: "Carter One";
    position: relative;
    color: #fff;
    font-size: 40px;
    z-index: 1;

}

.par2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

 .trips1 {
  font-family: 'Lexend Zetta';
  font-size: 30px;
  margin-top: 30px;
  display: table-cell;
  border-radius: 10px;
  margin: 0;
  padding-left: 0;
  animation: animate 2s linear infinite;

  @keyframes animate 
  { 0%, 100%
   { 
    color: rgb(16, 118, 235);
    filter: blur(4px);
    box-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 30px #00b3ff,
                0 0 40px #00b3ff,
                0 0 50px #00b3ff,
                0 0 60px #00b3ff,
  } 10%, 100%
  { 
   color: rgb(252, 252, 252);
   filter: blur(0px);

 }
}

}

.trips {
  display: none;
  color: rgba(1, 1, 1, 0);
}

@media (min-width: 786px) {

  .homepage {
      background: #17749B;
    // background: #fac000;
    // background: #0a2a43;
      min-height: 1600px;
      
  }

  .mainhomepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
  }

  .left {
    grid-column: 1/2;
  }
  .right {
    grid-column: 2/3;

  }

  .par{

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .par:before {

    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    width: 100%;
    height: 100px;
    // background: linear-gradient(to top, #fac000, transparent);
    background: linear-gradient(to top, #17749B, transparent);
    z-index: 10000;
  }

  .par:after {

    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    // background: #fac000;
    background: #17749B;
    // background: #0a2a43;
    z-index: 10000;
    mix-blend-mode: color;
  }

  .par img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;

  }

  .text {
    font-family:  'Carter One';
      // font-family: "cormorant garamond";
      position: relative;
      color: #fff;
      font-size: 10em;
      z-index: 1;

  }

  .par2 {

    margin-top: 70px;
    

  }

  .trips1 {
    display: none;
    
  }


  .trips {
      font-family: 'Lexend Zetta';
      font-size: 50px;
      margin-top: 30px;
      display: table-cell;
      border-radius: 10px;
      margin: 0;
      padding: 0;
      animation: animate 2s linear infinite;

      @keyframes animate 
      { 0%, 100%
       { 
        color: rgb(16, 118, 235);
        filter: blur(4px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 30px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 50px #00b3ff,
                    0 0 60px #00b3ff,
      } 10%, 95%
      { 
       color: rgb(252, 252, 252);
       filter: blur(0px);

     }
    }


  }

 


}








