@import "../../../_config.scss";

.suitcase-button-container {
  position: absolute;
  top: 0;
  left: 20px;
}

.suitcase-button {
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px rgba(50, 100, 255, 0.9);
  z-index: 2;
  cursor: pointer;
  background-color: rgba(8, 105, 114, 1);
  border: none;
}

.suitcase-button img {
  width: 60px;
}

.suitcase-button-overlay {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: translate(0, -33px);
  z-index: 4;
}

.suitcase-button-container:hover .suitcase-button-overlay {
  opacity: 1;
}

.suitcase-text {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  padding: 2px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  background-color: rgba(170, 218, 255, 0.8);
}

// For responsive mobile 
@media only screen and (max-width: 768px) {
  .suitcase-button-container {
    left: 0;
  }
}