@import "src/_config.scss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Cormorant+Garamond:wght@500&family=Lexend+Zetta&display=swap");

.awrap {
  font-family: " Montserrat ";

  margin: 0;

  #bg {
    //  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    //   clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    // clip-path: polygon(28% 39%, 100% 0, 100% 43%, 47% 66%, 100% 100%, 0 100%, 0 100%, 0% 46%, 0 0);
    // clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    // clip-path: polygon(3% 7%, 2% 21%, 7% 48%, 9% 74%, 14% 93%, 66% 93%, 96% 82%, 100% 52%, 40% 47%, 94% 32%, 82% 7%, 37% 1%);
    clip-path: polygon(
      0 0,
      86% 7%,
      100% 60%,
      64% 100%,
      43% 100%,
      0 52%,
      72% 42%
    );

    background-color: rgb(29, 214, 128);
    width: 100%;
    height: 170%;
    position: absolute;
    z-index: -1;
  }
}

.be {
  font-family: "carter one";
  color: black;
  width: 50%;
  border-radius: 10px;
  background-color: rgb(255, 251, 0);
  animation: animate 3s linear infinite;

  @keyframes animate {
    0%,
    100% {
      color: rgb(253, 253, 253);
      filter: blur(2px);
      box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff,
        0 0 300px #00b3ff, 0 0 400px #00b3ff, 0 0 500px #00b3ff;
    }
    9%,
    95% {
      color: rgb(0, 0, 0);
      filter: blur(0px);
      box-shadow: 0 0 10px none;
    }
  }
}

section p {
  color: rgb(0, 0, 0);
  font-size: 40px;
  line-height: 50px;
}

section p:hover {
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 10px;
  padding: 5px;
}

img {
  height: 50%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.first {
  // font-family: 'Cormorant Garamond';
  background-color: rgba(252, 214, 1, 0.753);
  text-shadow: 0 0 5px rgba(252, 250, 250, 0);
  border-radius: 15px;
  padding: 5% 10%;
  margin: 1em auto;
  // box-shadow: 0 10px 30px rgba(0,0,0,.2);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.973);
  width: 80%;
  transition: all 2s ease-in 1s;
  animation: linear;
}

.first:hover {
  background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595173626/person-wearing-pair-of-brown-leather-loafers-825890_mzrvln.jpg");
  background-size: cover;
  // position: absolute;
}

.second {
  background-color: rgba(252, 214, 1, 0.753);
  border-radius: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  padding: 5% 10%;
  // padding: 15px;
  margin: 1em auto;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  // box-shadow: 0 10px 30px rgba(0,0,0,.2);
  width: 80%;
}

.second:hover {
  background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595280655/arizona-asphalt-beautiful-blue-sky-490466_rwi5ie.jpg");
  background-size: cover;
  // position: absolute;
}

.third {
  background-color: rgba(252, 214, 1, 0.753);
  border-radius: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  padding: 5% 10%;
  // padding: 15px;
  margin: 1em auto;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  // box-shadow: 0 10px 30px rgba(0,0,0,.2);
  width: 80%;
}

.third:hover {
  background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595280724/person-wearing-beige-sweater-holding-map-inside-vehicle-1252500_hzjugj.jpg");
  background-size: cover;
  // position: absolute;
}

.forth {
  background-color: rgba(252, 214, 1, 0.753);
  border-radius: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0);
  padding: 5% 10%;
  // padding: 15px;
  margin: 1em auto;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.8);
  // box-shadow: 0 10px 30px rgba(0,0,0,.2);
  width: 80%;
}

.forth:hover {
  background-image: url("https://res.cloudinary.com/twin2052000/image/upload/v1595281459/road-people-street-smartphone-2224_bcfknv.jpg");
  background-size: cover;

  // position: absolute;
}

@media (min-width: 786px) {
  .first:hover {
    background-size: cover;
    background-repeat: no-repeat;
  }

  section p {
    font-size: 30px;
  }
}
