@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap");

* {
  box-sizing: border-box;
}
.trip-page {
  padding-top: 20px;
  position: relative;
  height: 100%;

  .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
    font-family: "Lexend Zetta", sans-serif;
  }
}

.google-container {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  .trip-page .title {
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .google-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto;
    margin-top: 70px;
  }

  .google-map {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .google-places-autocomplete {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .stop-list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
